<link rel="stylesheet" href="../stylesheets/home.css">
<link rel="stylesheet" href="../stylesheets/PracticaEntrega.css">


<div class="bienvenida">
    <h1>Bievenido a Aifos</h1>
    <h2>Gracias por registrarte!!</h2>
    <h3>Empieza a ver todo lo que te ofrecemos!! RAPIDO, las fiestas se acercan!!!</h3>
</div>

