
<div class="Datos">
    <div class="row">
        <div class="col"> 
            <form action="">

                <div class="col-md-6">
                     <label for="usuario" class="form-label" required>Usuario</label>
                     <input type="text" class="form-control" id="usuario" name="usuario">
                </div>

                <div class="col-md-6">
                     <label for="password" class="form-label" required>Password</label>
                     <input type="password" class="form-control" id="password" name="password">
                </div>

            </form>

                <button type="button" class="btn btn-danger botonLogin">Entrar</button>

        </div>


    </div>
                
            
</div>
