 <link rel="stylesheet" href="../stylesheets/Cobradoras.css">
 
 <main>

            <div class="textoCobradoras">
                <div class="condiciones">
                    <h1>Condiciones</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio officia eum id totam consequatur sint! Dolorum ex omnis facere corrupti quisquam minus, maxime itaque aperiam quia ut in placeat magnam Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum distinctio, amet minima fugiat<br>
                    lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque laboriosam eius amet inventore labore ipsum possimus deleniti alias consequuntur explicabo, sed illo temporibus molestias! Perspiciatis tempore exercitationem corrupti quisquam iure.</p>

                </div>
            </div>

            <div class="Cobradoras">
                <div class="Rocio">
                    <img src="images/Rocio.jpg" alt="">
                    <h2 class="Nombre">Rocio Orellano</h2>   
                    <h4 class="Numero">Numero: 23415125215</h2>
                    <h4 class="Direccion">Direccion: Guillermo Benitz 148</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repellendus laudantium quidem quae aspernatur perferendis similique quam cum, vitae, sit fuga molestias reiciendis, placeat in qui. Quo non odit soluta!Lorem</p>
                    <button class="BotonCobradora">Contactar</button>    
                </div>
    
    
                <div class="Laura">
                    <img src="images/Laura.jpg" alt="">
                    <h2 class="Nombre">Laura Lopez</h2>
                    <h4 class="Numero">Numero: 2463636536</h2>
                    <h4 class="Direccion">Direccion: Guillermo Benitz 985</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repellendus laudantium quidem quae aspernatur perferendis similique quam cum, vitae, sit fuga molestias reiciendis, placeat in qui. Quo non odit soluta!Lorem</p>
                    <button class="BotonCobradora">Contactar</button>
                </div>

                <div class="Rocio">
                    <img src="images/Antonela.jpg" alt="">
                    <h2 class="Nombre">Antonela Nuñez</h2>
                    <h4 class="Numero">Numero: 23415125215</h2>
                    <h4 class="Direccion">Direccion: Guillermo Benitz 148</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repellendus laudantium quidem quae aspernatur perferendis similique quam cum, vitae, sit fuga molestias reiciendis, placeat in qui. Quo non odit soluta!Lorem</p>
                    <button class="BotonCobradora">Contactar</button>
                </div>
    
    
                <div class="Laura">
                    <img src="images/Candela.jpg" alt=""> 
                    <h2 class="Nombre">Candela Garcia</h2>
                    <h4 class="Numero">Numero: 2463636536</h2>
                    <h4 class="Direccion">Direccion: Guillermo Benitz 985</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repellendus laudantium quidem quae aspernatur perferendis similique quam cum, vitae, sit fuga molestias reiciendis, placeat in qui. Quo non odit soluta!Lorem</p>
                    <button class="BotonCobradora">Contactar</button>
    
                </div>
                

            </div>
      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>