
<link rel="stylesheet" href="../stylesheets/Productos.css">


   <main>
                
                <div class="Productos">
                    <a href="/Mochilas"><img src="/images/BotonesImagen/MochilaBoton.jpg" class="d-block w-20 Mochilas" alt="..."></a>

                    <a href="/Atuendos"><img src="/images/BotonesImagen/AtuendoBoton.jpg" class="d-block w-20 Atuendos" alt="..."></a>
                    <a href="/Decoracion"><img src="/images/BotonesImagen/DecoracionBoton.jpg" class="d-block w-20 Decoracion" alt="..."></a>
                    <a href="/Electrodos"><img src="/images/BotonesImagen/ElectrodoBoton.jpg" class="d-block w-30 Electrodo" alt="..."></a>
                    <a href="/Calzado"><img src="/images/BotonesImagen/CalzadoBoton.jpg" class="d-block w-20 Calzado" alt="..."></a>
                    <a href="/Unas"><img src="/images/BotonesImagen/UñasBoton.jpg" class="d-block w-20 Uñas" alt="..."></a>
                    


                </div>    
                    


            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>