 <link rel="stylesheet" href="../stylesheets/Productos.css">


<main>
    
           

               
            <!-- Carousel -->
            <div class="MochilasCaja">
                <img src="../../images/Atuendos/Atuendo01.jpg" data-aos="flip-right" class="AtuendoEleccion" alt="...">
                <img src="../../images/Atuendo02.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="../../images/Atuendo03.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="../../images/Atuendo04.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="../../images/Atuendo05.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="../../images/Atuendo06.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo01.jpg" data-aos="flip-right" class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo02.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo03.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo04.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo05.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo06.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo01.jpg" data-aos="flip-right" class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo02.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo03.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
                <img src="Atuendos/Atuendo04.jpg" data-aos="flip-right"class="AtuendoEleccion" alt="...">
               
                


            </div>    

          
    

      


      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>