   <link rel="stylesheet" href="../stylesheets/Productos.css">
  
  <main>
    

               
            <!-- Carousel -->
            <div class="MochilasCaja">
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado01.jpg" alt="...">
                    </a>
                </button>
                
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado06.jpg" alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado01.jpg" alt="...">
                    </a>
                </button>
                
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado06.jpg" alt="...">
                    </a>
                </button>

                
                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado01.jpg" alt="...">
                    </a>
                </button>
                
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado06.jpg" alt="...">
                    </a>
                </button>

                
                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Calzado/Calzado04.jpg" alt="...">
                    </a>
                </button>
                

                
               
                


            </div>    
          
      

      


      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>