  <link rel="stylesheet" href="../stylesheets/Productos.css">

<main>
               
            <!-- Carousel -->
            <div class="MochilasCaja">
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion01.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion06.jpg" alt="...">
                    </a>
                </button>
                
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion01.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion06.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion01.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion02.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion04.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion05.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion06.jpg" alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion03.jpg" alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                      <img src="../../images/Decoracion/Decoracion04.jpg" alt="...">
                    </a>
                </button>

                            

                

            </div>

        


        

      


      

      


      
  






    
        </main>