<link rel="stylesheet" href="../stylesheets/Productos.css">


<main>
               
            <!-- Carousel -->
            <div class="MochilasCaja">
                <img src="Electrodo/Electrodo01.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo02.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo03.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo04.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo05.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo06.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo01.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo02.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo03.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo04.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo05.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo06.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo01.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo04.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo05.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo06.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo01.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo05.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo06.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">
                <img src="Electrodo/Electrodo01.jpg" data-aos="flip-right" class="ElectrodoEleccion" alt="...">


            </div>    
          
      </div>

      


      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>