<link rel="stylesheet" href="../stylesheets/Productos.css">


<main>
               
            <!-- Carousel -->
            <div class="MochilasCaja">
                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo01.jpg"  alt="...">
                    </a>
                </button>
              
                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo02.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo03.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo04.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo05.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo06.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo01.jpg"  alt="...">
                    </a>
                </button>
              
                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo02.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo03.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo04.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo05.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo06.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo01.jpg"  alt="...">
                    </a>
                </button>
              
                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo02.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo03.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo04.jpg"  alt="...">
                    </a>
                </button>


                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo05.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo06.jpg"  alt="...">
                    </a>
                </button>

                <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo02.jpg"  alt="...">
                    </a>
                </button>

                 <button class="MochilaEleccion">
                    <a href="/Pedir">
                        <img src="../../images/Electrodo/Electrodo03.jpg"  alt="...">
                    </a>
                </button>


            </div>

      


      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>