 <link rel="stylesheet" href="../stylesheets/Productos.css">
 
 
 <main>
    
                <div class="MochilasCaja">
                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila1.jpg" dataAos="flip-right" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila2.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila3.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila4.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila5.jpg" data-aos="" alt="...">
                    </a>
                    </button>


                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila6.jpg" data-aos="" alt="...">
                    </a>
                    </button>


                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila7.jpg" data-aos="" alt="...">
                    </a>
                    </button>
                        <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila1.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila2.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila3.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila4.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila5.jpg" data-aos="" alt="...">
                    </a>
                    </button>


                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila6.jpg" data-aos="" alt="...">
                    </a>
                    </button>


                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila7.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                      <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila1.jpg" data-aos="" alt="...">
                    </a>
                    </button>


                    <button class="MochilaEleccion">
                    <a href="/Pedir">
                    <img src="../images/Mochilas/Mochila2.jpg" data-aos="" alt="...">
                    </a>
                    </button>

                  

                </div>    
                    
            
        </main>