 <link rel="stylesheet" href="../stylesheets/Productos.css">
 
 <main>
    
                <div class="MochilasCaja">
                    <button onclick= "AgregarEnPedir()" class="MochilaEleccion" value="Mochilas/Mochila1"><a href="Pedir.html"><img src="../public/images/Mochilas/Mochila1.jpg" data-aos="flip-right" alt="..."></a></button>

                    <button class="MochilaEleccion"><a href="Pedir.html"><img src="../../public/images/Mochila2.jpg" data-aos="flip-right" alt="..."></a></button>

                    <a class="MochilaEleccion" href="Pedir.html"><img src="Mochilas/Mochila3.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila4.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila5.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila6.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila1.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila2.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila3.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila4.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila5.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila6.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila1.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila2.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila3.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila4.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila5.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila6.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>

                    <a href="Pedir.html"><img src="Mochilas/Mochila1.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>
                    
                    <a href="Pedir.html"><img src="Mochilas/Mochila2.jpg" data-aos="flip-right" class="MochilaEleccion" alt="..."></a>
                 


                </div>    
                    
            
                <script src="js/ListaDePedidos.js">
                    
                  
                    
                </script>
               
          
      


      

      


      
  






            <script src="js/aos.js"></script>
    
            <script>
                AOS.init();
            </script>
    
        </main>